html{
    background-color: #000000;
    color: #00ff00;
}

table, th, td{
    border: 1px solid #00ff00;
}

table{
    width: 100%;
}

th{
    width: 10%;
    text-align: center;
}

td{
    text-align: right;
}
.logo{
    width: 20%;
    align: center;
}
.center{
    text-align: center;
}
